// @ Font
// @ General margin
// @ Qnty column grid system
// @ Colors
//
// @ Font
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700')
$font: 'PT Sans'; 
$light: 300
$regular: 400
$bold: 700
$extra-bold: 800
// @ General margin
$marcol: 10px
// @ Qnty column grid system
$qntcol: 24
// @ Colors
$colorlink: Skyblue
$colorlinkhover: DeepSkyblue
$background0: #1976D2
$background1: #00BCD4
$headertitle: white
